RTX5_BASE_URL=https://broker-backend.example.com
RTX5_BROKER_ID=gta_broker
RTX5_MANAGER_LOGIN=9001
RTX5_MANAGER_PASSWORD=change-me
RTX5_SERVER=broker.example.com:443
RTX5_DEFAULT_GROUP=demo/STD
RTX5_DEFAULT_CURRENCY=USD
RTX5_DEFAULT_LEVERAGE=100
